<%- include('./partials/head') %>
       <%- include('./partials/nav') %>
              <header style="text-align:center">
                     <hgroup>
                            <h1>About Us</h1>
                            <h2>RecommendIT</h2>
                     </hgroup>
              </header>
              <section style="text-align:center">
                     <article>
                            <header>
                                   <h1>Team</h1>
                            </header>
                            <section>
                                   <ul>
                                          <li>Saharsh Gupta</li>
                                          <li>Kashish Shah</li>
                                          <li>Nisha Yadav</li>
                                          <li>Apeksha Jadeja</li>
                                          <li>Aakash Bhavsar</li>
                                          <li>Sharma Umang</li>
                                   </ul>
                            </section>
                     </article>
                     <article>
                            <header>
                                   <h1>Our Core Values</h1>
                            </header>
                            <section style="text-align:center;">

                                   While we adapt, evolve, and continue to grow, the beliefs that are most important to
                                   us stay the same - Audacity, Bias for Action, and Customer First - our core values
                                   which are reflected in everything we do! While these core values define our identity
                                   and form the basis of all our decisions and actions, integrity and inclusion
                                   underpins all our processes.
                                   About RecommendIT – India’s Ultimate Online Recommending Site RecommendIT vision is
                                   to create India’s most reliable and frictionless commerce ecosystem that creates
                                   life-changing experiences for buyers and sellers.
                            </section>
                            <section style="text-align:center;">

                                   Our website gives recommendations about products from other websites such as Amazon and Flipkart. The products will be added by admin manually. The registered user will get coupons to use and can view the recommendations.
                            </section>
                     </article>
              </section>


              <%- include('./partials/footer')%>