<%- include('./partials/head') %>
       <%- include('./partials/nav') %>

              <section style="text-align:center">
                     <article>
                            <header>
                                   <h1>Team</h1>
                            </header>
                            <section>
                                   <ul>
                                          <li>Saharsh Gupta</li>
                                          <li>Kashish Shah</li>
                                          <li>Nisha Yadav</li>
                                          <li>Apeksha Jadeja</li>
                                          <li>Aakash Bhavsar</li>
                                          <li>Sharma Umang</li>
                                   </ul>
                            </section>
                     </article>
                     


              <%- include('./partials/footer')%>